<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<root>
			<priority value="Info"/>
			<appender-ref ref="AllLogAppender"/>
		</root>
		<appender name="AllLogAppender" type="log4net.Appender.RollingFileAppender">
			<level value="DEBUG"/>
			<file value="Logs\\Log.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<layout type="log4net. Layout. PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger: %M - %message%newline"/>
			</layout>
		</appender>
	</log4net>
</configuration>