@{
    ViewBag.Title = "Dashboard";
}

<h2>Message Queue Dashboard</h2>

<div>
    <button id="startProcessingBtn">Start Queue Processing</button>
    <button id="clearMessagesBtn">Clear Messages</button>
    <hr />
</div>
@section styles{
    <style>
        #logContainer {
            max-height: 500px;
            overflow-y: auto;
            border: 2px solid #dddddd;
        }

        .log-table {
            width: 100%;
            border-collapse: collapse;
        }

            .log-table th, .log-table td {
                border: 2px solid #dddddd;
                padding: 8px;
                text-align: left;
            }
    </style>
}

<div id="logContainer">
    <div id="logList">
        @Html.Partial("_LogMessagesPartial", (List<string>)ViewBag.LogMessages)
    </div>
</div>

@section scripts {
    <script>
        function updateLog() {
            $.get('@Url.Action("GetMessages", "MessageQueue")', function (data) {
                $('#logList').html(data);
            });
        }

        $('#startProcessingBtn').click(function () {
            $(this).prop('disabled', true);

            $.post('@Url.Action("StartQueueProcessing", "MessageQueue")', function () {
                setInterval(updateLog, 1000);
            });
        });

        $('#clearMessagesBtn').click(function () {
            $.post('@Url.Action("ClearAllMessages", "MessageQueue")', function () {
                setInterval(updateLog, 1000);
            });
        });
    </script>
}
